# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production 
/build

#eu add
/Aquecimento
/Módulo I - Fundamentos/Aula Interativa 1
/Módulo I - Fundamentos/Código Fonte - Aula 1 a 9
/Módulo I - Fundamentos/Apostila - Módulo 1 - Bootcamp Full Stack.pdf
/Módulo I - Fundamentos/Aulas do Módulo 1 - Full Stack.pdf
/Módulo I - Fundamentos/modulo-01-codigo-fonte-5.zip
/Módulo I - Fundamentos/Programming/Aulas 1 a 9/Enunciado do Trabalho Prático - Módulo 1 - Bootcamp Full Stack.pdf
/Módulo I - Fundamentos/Programming/Aulas 1 a 9/Currículo (HTML, CSS)/Img
Modelo Trilhas Bootcamps Finais - Full Stack.png


# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
